{% extends "_layouts/base.html" %}

{% block title %}Info{% endblock %}
    {% block content %}
<div class="container" style="margin-top: 10px">
	<!-- Indicates a successful or positive action -->
	<button type="button" class="btn btn-success" onclick="location.href='/light/off'">Success</button>
	<!-- Indicates a dangerous or potentially negative action -->
	<button type="button" class="btn btn-danger" onclick="location.href='/light/on'">Danger</button>

                {% for alarm in alarm_list %}
				<div class="panel panel-warning alarm status-{{ alarm.status }}">
		  <div class="panel-heading">
                <h3 class="panel-title">
			  Panel heading without title
				</h3>
		  </div>
		    <div class="panel-body">

                        <p><a href="ulr alarm">{{ alarm.get_message }}</a></p>
                        <time>{{ alarm.date_updated|timesince }}{% if not alarm.status %} (lasted {{ alarm.get_duration }}){% endif %}</time>
                        <span class="affects">affects {% for slug, name in alarm.get_services %}<a href="">{{ name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
					</div>
				  </div>
                {% endfor %}
        </div>
	{% endblock %}
